svg {
  background: white;
}

text {
  font-size: 12px;
  font-family: 'Sawasdee', 'URW Gothic L', sans;
  text-rendering: optimizeLegibility;
}

text.list {
  font-size: 20px;
}

text.expl {
  font-size: 14px;
}

text.title {
  font-size: 24px;
  font-weight: bold;
}

text.active {
  fill: #dd2f00;
}

#nyc-zipcodes path {
  stroke: black;
  stroke-width: 1px;
}

#nyc-zipcodes path.overlay:hover {
  stroke: crimson;
  stroke-width: 2px;
}
